# BetterAuth Configuration
BETTER_AUTH_SECRET="bazardor_super_secret_auth_token_key_2026_exam"

# Local URL:
BETTER_AUTH_URL="http://localhost:3000"

# Production Vercel URL (Add this in Vercel Environment Variables):
# BETTER_AUTH_URL="https://baazardoor.vercel.app"
